* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.team-title {
  font-size: var(--title-size);
  font-family: var(--title-font);
  text-align: center;
  margin-bottom: 10rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.team-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-member img {
  max-width: 80%;
  height: auto;
}

.jonathan-image {
  width: 22rem;
  display: flex;
  align-items: center;
  border-radius: 12rem;
  border: solid var(--secondary-color);
  margin-top: 5rem;
}

.pierre-image {
  width: 18rem;
  border-radius: 12rem;
  border: solid var(--secondary-color);
}

.dev-image {
  width: 18rem;
  border-radius: 12rem;
  border: solid var(--secondary-color);
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .6rem;
}

.linkedin-logo,
.instagram-logo {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  transition: transform 0.3s ease-in-out;
}

.linkedin-logo:hover {
  transform: scale(1);
}

.instagram-logo:hover {
  transform: scale(1);
}

h2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: var(--title-font);
}

p {
  font-family: var(--text-font);
  font-size: var(--text-size);
  line-height: var(--line-height);
  margin-bottom: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 620px) {
  section {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: flex-start;
    gap: 3rem;
    width: 100%;
  }

  .team-member:first-of-type {
    order: 1;
    transform: translateY(-33px);
  }

  .team-member:nth-of-type(3) {
    order: 3;
  }

  .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
    margin-top: 5rem;
  }

  .jonathan-image {
    margin-top: 5rem;
  }

  .pierre-image {
    margin-top: 7rem;
  }

  .dev-image {
    margin-top: 7rem;
  }

  p {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .linkedin-logo,
  .instagram-logo {
    transition: transform 0.3s ease-in-out;
  }

  .linkedin-logo:hover {
    transform: scale(1.2);
  }

  .instagram-logo:hover {
    transform: scale(1.2);
  }
}
