* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.teamTitle {
  font-size: var(--title-size);
  font-family: var(--title-font);
  text-align: center;
  margin-bottom: 10rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: .5rem;
}

.teamMember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamMember img {
  max-width: 80%;
  height: auto;
}

.jonathanImage {
  width: 22rem;
  display: flex;
  align-items: center;
  border-radius: 12rem;
  margin-top: 5rem;
  border: 5px solid var(--secondary-color);
  border: 5px solid var(--secondary-color);
}

.pierreImage {
  width: 18rem;
  border: 5px solid var(--secondary-color);
  border: 5px solid var(--secondary-color);
  object-fit: cover;
  border-radius: 12rem;
}

.devImage {
  border-radius: 50%;
  border: 5px solid var(--secondary-color);
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .6rem;
}

.linkedinLogo,
.instagram-logo {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  transition: transform 0.3s ease-in-out;
}

.linkedinLogo:hover {
  transform: scale(1);
}

.instagramLogo:hover {
  transform: scale(1);
}

h2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: var(--title-font);
  letter-spacing: .3rem;
}

h3 {
  font-family: var(--title-font);
  letter-spacing: .3rem;
}

p {
  font-family: var(--text-font);
  font-size: var(--text-size);
  line-height: var(--line-height);
  margin-bottom: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 620px) {
  section {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: flex-start;
    gap: 3rem;
    width: 100%;
  }

  .teamMember:first-of-type {
    order: 1;
    transform: translateY(-33px);
  }

  .teamMember:nth-of-type(3) {
    order: 3;
  }

  .teamMember {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
    margin-top: 5rem;
  }

  .jonathanImage {
    margin-top: 5rem;
  }

  .pierreImage {
    margin-top: 7rem;
  }

  .devImage {
    margin-top: 7rem;
  }

  p {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .linkedinLogo,
  .instagram-logo {
    transition: transform 0.3s ease-in-out;
  }

  .linkedinLogo:hover {
    transform: scale(1.2);
  }

  .instagramLogo:hover {
    transform: scale(1.2);
  }
}
