.form {
  margin-bottom: 1rem;
  text-align: center;
}

.label {
  display: block;
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--bg-primary);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.textarea {
  min-height: 20rem;
  resize: vertical;
}

.preview {
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
  border-radius: 4px;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
}
