.titleLogin {
  text-align: center;
}
.loginCard {
  border-radius: 8px;
  padding: 1.5em;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  max-width: 400px;
  margin: 2rem auto;
}

.loginFormContent {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.loginButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em;
  font-size: var(--text-size);
  font-weight: normal;
  font-family: var(--text-font);
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

.loginButton:hover {
  border-color: var(--primary-color);
}

.loginButton:focus,
.loginButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.loginFormNav {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-top: 1em;
}

.loginLink {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.2s;
}

.loginLink:hover {
  color: var(--primary-color);
}

@media (max-width: 600px) {
  .longinCard {
    margin: 1rem;
    padding: 1em;
  }
}
