.passwordField {
  margin-bottom: 1rem;
}
.passwordLabel {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
}

.passwordInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.passwordInput {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 4px;
}

.passwordToggleButton {
  border: none;
  font-size: 1rem;
  color: var(--background-color);
  cursor: pointer;
}

.passwordToggleButton:hover {
  text-decoration: underline;
}
