@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Bebas+Neue&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #990000;
  --secondary-color: #ffcc00;
  --background-color: #000033;
  --text-color: #ffffcc;

  --text-font: "Nunito Sans", sans-serif;
  --line-height: 1.6;
  --text-size: 1.3rem;
  --title-size: 2rem;
}
