.label {
  font-size: 1rem;
  font-weight: bold;
}
.titleForgotPassword {
  text-align: center;
}
.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 8px;
  padding: 1em;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  align-items: center;
}

.input {
  color: var(--bg-primary);
  padding: 0.7rem;
  font-size: var(--text-size);
  border: 1px solid var(--text-color);
  border-radius: 4px;
}

.passwordContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.togglePasswordButton {
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}
