.restart-button {
  font-family: var(--font-text);
  display: inline-block;
  border: 0.15rem solid;
  padding: 0.75rem 2.5rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: var(--secondary-color);
  color: var(--background-color);
  box-shadow: 0 0 10px var(--secondary-color);
  width: 10rem;
  height: auto;
  line-height: normal;
}

.restart-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px var(--secondary-color);
}

.restart-button:active {
  transform: scale(0.95);
  box-shadow: 0 0 5px var(--color-boxshadow);
}

@media screen and (min-width: 1024px) {
  .restart-button {
    width: 12rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    height: auto;
  }
}
