@font-face {
  font-family: "MyFont";
  src: url("/fonts/my-font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #990000;
  --secondary-color: #ffcc00;
  --background-color: #000033;
  --color-boxsahdow: #00000080;
  --text-color: #fefefe;
  --text-color-button: #060606;
  --boxshadow: #1f26875e;
  --backgroundScroll: #ffffff66;

  --text-font: "Nunito Sans", sans-serif;
  --line-height: 1.6;
  --text-size: 1.3rem;
  --title-size: 2rem;
}
